@charset "utf-8";
/* CSS Document */
body{
	margin:0;
}

.main-box {
	position:absolute;
	width: 960px;
	height: 580px;
	right:0;
	bottom:8%;
	left:0;
}

a,
a:link,
a:visited,
a:focus {
	color: #222;
	text-decoration: none;
	outline:none;
}
a:hover{
	color:#444;
}

/*Palette*/
/* Dark green: #144733 */
/* Medium green: #5e7260 */
/* Light green: #b2bcaf */
/* Grey: #d0d2d3 */
/* Try Unsemantic grid system? http://unsemantic.com/ */

.title{
	height:120px;
	border-bottom:1px;
	margin:0px 20px 10px;
	width:79%;
	border-bottom:1px solid #144733;
}

.title h1 {
	position:absolute;
	font-family:"Novecento-Bold", Century Gothic, sans-serif;
	color:#144733;
	font-weight:normal;
	font-size:20px;
}

.nav-btn-active {
	background-color: #144733;
	color: #f2f2f2;
}

.nav-btn-inactive {
	background-color: #f2f2f2;
	color: #144733;
}

.nav-btn {
	left:0px;
	height: 35px;
	text-align: center;
	padding-top: 18px;
	padding-bottom:7px;
	bottom:0px;
	font-family:"Novecento-Normal", Century Gothic, sans-serif;
	font-size:18px;
	z-index: 1000;
	cursor:pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/*.nav-btn-vision {
	position:absolute;
	left:0px;
	background-color: #f2f2f2;
	height: 35px;
	width:100%;
	text-align: center;
	color: #144733;
	padding-top: 18px;
	padding-bottom:7px;
	bottom:0px;
	font-family:"Novecento-Normal", Century Gothic, sans-serif;
	font-size:18px;
	z-index: 1000;
	cursor:pointer;
}*/

.right-nav-space{
	padding-top: 30px;
	margin-right:0px;
	margin-left:0px;
}
/*.vision-spacer{
	position:absolute;
	left:0px;
	background-color: rgba(241, 242, 242, 0.7);
	height: 26px;
	width:100%;
	top:0px;
	z-index: 1000;	
}*/
/*.img-background {
	background-image:url(../img/construction.jpg);
	background-size:cover;
	background-position: center top; 
	background-repeat: no-repeat;
	background-scroll:scroll;
	z-index: -10;
}*/
.img-background{
	background-image:url(../img/construction.jpg);
	background-size: cover;
	background-position: center center; 
	width:100%;
	height:100%;
	z-index: 0;
	position: fixed;
	repeat-y:no-repeat;
}
.index_panel{
	background-color:rgba(241, 242, 242, 0.6);
	text-align:center;
	padding: 40px 60px 40px;
	z-index: 1000;
	height:223px;
}

.index_panel p{
	font-family:"Univers-Regular", Trebuchet, sans-serif;
	font-size:15px;
	color:#222;
	z-index: 1000;
}

.index_panel p .bold{
	font-family:"Univers-Bold", Trebuchet, sans-serif;
}

.panel {
	background-color:rgba(241, 242, 242, 0.6);
	text-align:left;
	padding: 40px 20px 40px;
	z-index: 1000;
	height:223px;
	overflow-y: hidden;
	display:none;
}

.panel p{
	font-family:"Univers-Regular", Trebuchet, sans-serif;
	font-size:18px;
	color:#222;
	z-index: 1000;
}

.panel p .bold{
	font-family:"Univers-Bold", Trebuchet, sans-serif;
}

.panel h2 {
	font-family:"Novecento-Bold", Century Gothic, sans-serif;
	color:#144733;
	font-weight:normal;
	font-size:20px;	
}

.index {
	text-align:center;
}
.visible {
	display: block;
}

.hidden {
	display: none;
}

.innerPanel .panel_text {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.panel .center-image {
	text-align:center;
}
.innerPanel{
	border-top:1px solid #144733;
}

.innerPanel p {
	text-align:left;
	font-size:14px;
	line-height:17px;
}
.innerPanel h2 {
	font-size:16px;
}

.sidebar-parent {
	height:516px;
	/*padding-top: 0px;*/
	display: block;

	width: inherit;
	overflow: hidden;
	position: relative;
}

/*.sidebar{*/
	/*height:496px;*/
/*}*/


.sidebar h2 {	
	padding-left:20px;
	font-family:"Novecento-Bold", Century Gothic, sans-serif;
	color:#144733;
	font-weight:normal;
	font-size:12px;	
}
.bottom {
	height: 60px;
	/*position:absolute;*/
	width: 176px;

	bottom: 0px;
	position: absolute;
}
.sidebar .btn {
	/*background-color:#fff;*/
	height:46px;
	margin-bottom: 8px;
	cursor: pointer;
	}

.sidebar .label {
	padding-top: 10px;
	padding-left:20px;
	font-family:"Novecento-DemBold", Century Gothic, sans-serif;
	font-weight:normal;
	font-size:12px;	
	float:left;
	width: 116px;
}

.sidebar .active {
	color: #144733;
}

.sidebar .inactive {
	color: #5e7260;
}

.sidebar-inner {
	background-color:rgba(241, 242, 242, 0.7);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display: block;

	bottom: 0px;

	width: inherit;
	height: 518px;
	  
	position: absolute; /*mandatory*/
	overflow: hidden;


}

/*.sidebar-full {
	margin-bottom: 0px;
}

.sidebar-minimized {
	margin-bottom: -520px;
}*/

.circle-btn {
	padding-top: 10px;
	padding-right: 12px;
	float:right;
}
#contact_info {
	position:relative;
	height:80px;
	margin-top:175px;
	padding-left:20px;
	float:left;
	width: 140px;
}
#contact_info h2{
	font-family:"Univers-Regular", Trebuchet, sans-serif;
	font-weight:normal;
	font-size:14px;	
	padding-left:0px;
	margin:15px 0px;
}
#contact_info p{
	font-family:"Univers-Light", Trebuchet, sans-serif;
	font-size:14px;	
	margin:0;
}
.right_content{
	height:inherit;
}
.right_content .top_spacer {
	height:80px;
}

.top_index_spacer{
	height: 94px;
}

.index_spacer {
	margin-top:93px;
}

.right_content .body {
	height:380px;
}

.right_content .button_bar {
	height:90px;
	width: inherit;

	bottom: 0px;
	
	position: absolute;
}

.logo a{
	border:none;
}

.right_content .button_bar .logo {
	margin-top:5px;
}

.panel .center-image {
	text-align:center;
}