@charset "utf-8";
/* CSS Document */
body{
/*	margin:0px;
	padding:0px;*/
}
a,
a:link,
a:visited,
a:focus {
	color: #222;
	text-decoration: none;
	outline:none;
}
a:hover{
	color:#444;
}

/*Palette*/
/* Dark green: #144733 */
/* Medium green: #5e7260 */
/* Light green: #b2bcaf */
/* Grey: #d0d2d3 */
/* Try Unsemantic grid system? http://unsemantic.com/ */

.nav-btn-vision {
	position:absolute;
	left:0px;
	background-color: #d0d2d3;
	height: 35px;
	width:100%;
	text-align: center;
	color: #144733;
	padding-top: 18px;
	padding-bottom:7px;
	bottom:0px;
	font-family:"Novecento-Normal", Century Gothic, sans-serif;
	font-size:18px;
	z-index: 1000;
}
.nav-btn {
	left:0px;
	background-color: #d0d2d3;
	height: 35px;
	text-align: center;
	color: #144733;
	padding-top: 18px;
	padding-bottom:7px;
	bottom:0px;
	font-family:"Novecento-Normal", Century Gothic, sans-serif;
	font-size:18px;
	z-index: 1000;
}
.right-nav-space{
	padding-top: 30px;
	margin-right:0px;
	margin-left:0px;
}
.vision-spacer{
	position:absolute;
	left:0px;
	background-color: rgba(208, 210, 211, 0.6);
	height: 26px;
	width:100%;
	top:0px;
	z-index: 1000;	
}

.img-background {
	background-image:url(../img/construction.jpg);
	background-size: cover;
	background-position: center top; 
	background-scroll:scroll;
	z-index: -10;
}

.panel {
	background-color:rgba(208, 210, 211, 0.6);
	text-align:center;
	padding: 60px 60px 40px;
	z-index: 1000;
}

.panel p{
	font-family:"Univers-Light", Trebuchet, sans-serif;
	text-align:center;
	font-size:18px;
	color:#222;
	z-index: 1000;
}

.panel p .bold{
	font-family:"Univers-Regular", Trebuchet, sans-serif;
}

.panel .center-image {
	text-align:center;
}
